$colorShadowest: #101010;
$colorDarkest:#303030;
$colorDark:#505050;
$colorDarkMid:#707070;
$colorMidDark:#909090;
$colorMid:#b0b0b0;
$colorMidLight:#d0d0d0;
$colorLightMid:#e0e0e0;
$colorLight:#f0f0f0;
$colorLightest:#fafafa;
$colorEnfasis:#10d0d0;
$colorSuccess:#30d030;
$colorWarning:#e0d030;
$colorDanger:#fa5050;

/**
 * Fonts
 */
$fontMain: 'Roboto-Regular', sans-serif;
$fontEnfasis: 'Roboto-Black', sans-serif;
