
<form *ngIf="form" [formGroup]="form" [id]="definition.key">
    <h3>
        {{definition.title | translate}}
    </h3>
    <app-input *ngFor="let input of definition.inputs" [definition]="input" [form]="form"></app-input>
    <ng-content></ng-content>
    <fieldset *ngFor="let section of (definition.sections || [])" [ngClass]="{'hidden-section': !isOpenSection(section.key)}">
        <legend (click)="openSection(section.key)">{{section.title | translate}}</legend>
        <div class="fields">
            <app-input *ngFor="let input of section.inputs" [definition]="input" [form]="form"></app-input>
        </div>
        <app-action-button *ngFor="let action of (section.actions || [])" [definition]="action" [args]="form"></app-action-button>
    </fieldset>
    <h5 *ngIf="error" class="text-danger">{{error | translate}}</h5>
    <app-action-button *ngFor="let action of (definition.actions || [])" [definition]="action" [args]="form"></app-action-button>
</form>
